<div class="container">
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <section class="container-fluid text-left mt-5">
        <h1>
          Curator and the machine
        </h1>
        <p class="mt-5">
          <div class="vstack gap-2 mx-auto">
            <form id="login">
              <div class="input-group mb-3">
                <span class="input-group-text">https://</span>
                <input
                  id="server"
                  required
                  type="text"
                  class="form-control"
                  placeholder="mastodon.social"
                />
                <button
                  id="btn-login"
                  class="btn btn-secondary"
                  type="submit"
                >Log in and curate</button>
              </div>
            </form>
            <div>
              or <a href="/app">curate anonymously</a>
            </div>
          </div>
        </p>
      </section>
    </div>
    <div class="col-lg-6 col-sm-12">
      <div id="feed" class="mt-5 mb-5">
      </div>
    </div>
  </div>
</div>